@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url('action.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header{
  position:fixed;
  display:inline-flex;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header .logo-content{
  display:inline-flex;
}

.header .logo-content img{
  width: 3rem;
  height: 3rem;
  color: black;
  margin: 0.7em 1em;
  border-radius: 0.5em;
}

.header .logo-content .logo{
  padding: 0.6em 0em;
}

.logo-content .logo .logo_name{
  font-family: cursive;
  font-weight:520;
  font-size: 38px;
  line-height: 50px;
  color: #000000;
}

.header .dropdown{
  position: fixed;
  padding-left: 80%;
}

.header .dropdown .link{
  display: inline-flex;
  float: right;
  padding: 1em;
}

.header .dropdown .link li{
  list-style: none;
  padding: 0.5em 0 0 2em;
}

.header .dropdown .link li a{
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  text-decoration: none;  
}

.sidebar{
  position: fixed;
  top: 4.6em;
  width: 240px;
  height: 100%;
  background: #ffffff;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease;
}

.sidebar.active{
  width: 68px;
  transition: all 1s ease;
}

.sidebar #btn{
  position: absolute;
  color: #000;
  left: 90%;
  top: 6px;
  font-size: 24px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform:  translateX(-50%);
}

.sidebar #btn:hover{
  cursor: pointer;
}

.sidebar.active #btn{
  left:55%;
}

.sidebar .nav-links{
  height: 100%;
  padding-top: 4.5em;
}

.sidebar .links_name{
  opacity: 1;
  pointer-events: auto;
  transition: all 1s ease;
}

.sidebar .links_name.current{
  font-weight: bold;
}

.sidebar.active .links_name{
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar .nav-links li{
  position: relative;
  transition: all 0.4s ease;
}


.sidebar .nav-links li:hover{
  background: rgb(234, 234, 225);
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
}

.sidebar .nav-links li .icon-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #000;
  font-size: 20px;
}


.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.sidebar .nav-links li .sub-target{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  list-style: none;
  /*  display: none; */
}

.sidebar .nav-links li .sub-target a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.75;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-target a:hover{
  opacity: 1;
  color: #000;
  padding: 0.5em;
}

.sidebar.close .nav-links li .sub-target{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  transition: all 0.4s ease;
  opacity:0;
  pointer-events: none;
}

.sidebar.close .nav-links li:hover .sub-target{
  top: 0;
  opacity:1;
  pointer-events: auto;
}

.sidebar .nav-links li .sub-target .link_name{
  display: none;
}

.sidebar.close .nav-links li .sub-target .links_name{
  font-size: 15px;
  opacity: 1;
  display: block;
}

/* Add target */

.addTarget{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addTarget p{
  position: absolute;
  left: 792px;
  top: 130px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
  opacity: 0.80;
}

.addTarget .line{
  position: absolute;
  width: 745px;
  height: 0px;
  left: 475px;
  top: 188px;

  opacity: 0.6;
  border: 1px solid #534E60;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.addTarget .inputBox{
  position: absolute;
  width: 745px;
  height: 368px;
  left: 475px;
  top: 252px;

  background: #F6F2F2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.addTarget .inputBox .addr label{
  position: absolute;
  width: 86px;
  height: 27px;
  left: 81px;
  top: 110px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
  opacity: 0.75;
}

.addTarget .inputBox .addr  input{
  position: absolute;
  width: 411px;
  height: 38px;
  left: 245px;
  top: 102px;
  padding: 1em;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.addTarget .inputBox .desc label{
  position: absolute;
  width: 86px;
  height: 27px;
  left: 81px;
  top: 198px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
  opacity: 0.75;
}

.addTarget .inputBox .desc  input{
  position: absolute;
  width: 411px;
  height: 80px;
  left: 245px;
  top: 178px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1em;
}

.addTarget .inputBox input::placeholder{
  padding: 0.5em;
}

.addTarget .submit{
  position: absolute;
  left: 45%;
  top: 80%;
  padding: 0.8em;
  border-radius: 0.5em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #959595;
  color: black;
  font-weight: 550;
  font-size: 15px;
}

.addTarget .submit:hover{
  cursor: pointer;
  padding: 1em;
  transition: all 0.5s ease;
  box-shadow: 8px 8px 8px rgba(8, 8, 8, 0.25);
}

.wel {
  position: absolute;
  /* width: 345px;
  height: 77px; */
  left: 465px;
  top: 157px;

  font-weight: lighter;
  font-size: 34px;
  line-height: 77px;

  color: #000000;
  text-shadow: 3px 0px 3px rgba(0, 0, 0, 0.25);
  opacity: 0.75;
}


.line-1{
  position: relative;
  top: 50%;  
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  font-weight: lighter;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
animation: typewriter 4s steps(44) 0.5s 1 normal both,
           blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 13em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}

.descrip{
  position: absolute;
  left: 465px;
  top: 9em;
  font-size: 23px;
  color: #08550B;
}


.wrapper{
  position: absolute;
  top: calc(40% - 30px);
  left: calc(55% - 60px);
}

.bars{
  list-style: none;
  margin: 0;
  padding: 0;
}

.bars li{
  width: 8px;
  height: 60px;
  background: #333;
  border-radius: 10px;
  float: left;
  margin-left: 20px;
}

.bars li:first-child,
.bars li:last-child{
  width: 12px;
}

.scanner{
  width: 120px;
  height: 5px;
  background: rgba(239,120,3,1);
  border-radius: 10px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  -webkit-animation: scanner 2.0s infinite linear;
}

.scanner div{
  position: absolute;
  right: 0px;
  bottom: 5px;
  -webkit-animation: flash 2.0s infinite linear;
}

.scanner div:before{
  content: '\2022';
  color: rgba(239,120,3,1);
  position: absolute;
  bottom: -7px;
  right: -6px;
}

.scanner div ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.scanner div ul li:first-child{
  width: 6px;
  height: 15px;
  background: rgba(239,120,3,1);
  border-radius: 10px;
  position: absolute;
  bottom: 7px;
  right: -5px;
}

.scanner div ul li:nth-child(2){
  width: 6px;
  height: 15px;
  background: rgba(239,120,3,1);
  border-radius: 10px;
  position: absolute;
  bottom: -18px;
  right: -5px;
}

.scanner div ul li:nth-child(3){
  width: 15px;
  height: 6px;
  background: rgba(239,120,3,1);
  border-radius: 10px;
  position: absolute;
  bottom: 0px;
  right: -25px;
}

.scanner div ul li:last-child{
  width: 15px;
  height: 6px;
  background: rgba(239,120,3,1);
  border-radius: 10px;
  position: absolute;
  bottom: 0px;
  right: 2px;
}

@-webkit-keyframes scanner{
  0%{
    bottom: 5px;
  }
  50%{
    bottom: 50px;
  }
  100%{
    bottom: 5px;
  }
}

@-webkit-keyframes flash{
  0%{
    -webkit-transform: rotate(90deg);
    right: -2px;
  }
  1%{
    -webkit-transform: rotate(45deg);
  }
  10%{
    -webkit-transform: rotate(45deg);
  }
  11%{
    -webkit-transform: rotate(90deg);
  }
  20%{
    -webkit-transform: rotate(90deg);
  }
  21%{
    -webkit-transform: rotate(45deg);
  }
  30%{
    -webkit-transform: rotate(45deg);
  }
  31%{
    -webkit-transform: rotate(90deg);
  }
  40%{
    -webkit-transform: rotate(90deg);
  }
  41%{
    -webkit-transform: rotate(45deg);
  }
  50%{
    -webkit-transform: rotate(45deg);
    right: 125px;
  }
  51%{
    -webkit-transform: rotate(90deg);
  }
  60%{
    -webkit-transform: rotate(90deg);
  }
  61%{
    -webkit-transform: rotate(45deg);
  }
  70%{
    -webkit-transform: rotate(45deg);
  }
  71%{
    -webkit-transform: rotate(90deg);
  }
  80%{
    -webkit-transform: rotate(90deg);
  }
  81%{
    -webkit-transform: rotate(45deg);
  }
  90%{
    -webkit-transform: rotate(45deg);
  }
  91%{
    -webkit-transform: rotate(90deg);
  }
  100%{
    -webkit-transform: rotate(90deg);
    right: -2px;
  }
}

.target-list{
  position: relative;
  padding-left: 330px;
  top: 25rem;
}

.divider{
position: absolute;
width: 945px;
height: 0px;
left: 330px;
top: 442px;

opacity: 0.4;
border: 1px solid #534E60;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.scrolling-box{
  position: fixed;
  width:965px;
  height:250px;
  line-height:3em;
  left: 330px;
  top: 452px;
  overflow-y: scroll;
  overflow-x:unset;
  padding:5px;
}

.scrolling-box p i{
  font-size: 20px;
  display: inline-flex;
}

.scrolling-box p{
  font-size: 15px;
  display: inline;
}

.scrolling-box .low{
  position: absolute;
  position: absolute;
  margin-left: 40em;
  color: rgb(99, 169, 34);
}

.scrolling-box .med{
  position: absolute;
  margin-left: 40em;
  color: rgb(250, 149, 41);
}

.scrolling-box .high{
  position: absolute;
  margin-left: 40em;
  color: rgb(255, 0, 0);
}


/* --------- Target list page ------------ */

.targetlist .title p{
  position: absolute;
  width: 104px;
  height: 27px;
  left: 347px;
  top: 132px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;

  color: #000000;
  opacity: 0.75;
}


.targetlist .line-1{
  position: absolute;
  width: 1036px;
  height: 0px;
  left: 347px;
  top: 177.01px;

  opacity: 0.4;
  border: 1px solid #534E60;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.targetlist .addr-header{
  position: absolute;
  width: 63px;
  height: 19px;
  left: 450px;
  top: 197px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.75;
}

.targetlist .desc-header
{
  position: absolute;
  width: 87px;
  height: 19px;
  left: 700px;
  top: 197px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.75;
}

.targetlist .stat-header{
  position: absolute;
  width: 89px;
  height: 19px;
  left: 850px;
  top: 197px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;

  opacity: 0.75;
}

.targetlist .scan-header{
  position: absolute;
  width: 82px;
  height: 19px;
  left: 1240px;
  top: 197px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;

  opacity: 0.75;
}

.targetlist .line-2{
  position: absolute;
  width: 1036px;
  height: 0px;
  left: 347px;
  top: 236px;
  
  opacity: 0.4;
  border: 1px solid #534E60;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Table of target in Target list page */
/* .content-table{
  position: relative;
  top: 240px;
  left: 278px;
  width: 1055px;
  margin: 10px 70px 70px;
  box-shadow: 0px 15px 25px rgba( 0, 0, 0, 0.2 );
  overflow-y: scroll;
  overflow-x: unset;
  border-collapse: collapse;
} */

.content-table{
  position: relative;
  top: 240px;
  left: 278px;
  /* width: 1055px;
  margin: 10px 70px 70px;
  box-shadow: 0px 15px 25px rgba( 0, 0, 0, 0.2 ); */
  overflow-y: scroll;
  overflow-x: unset;
  border-collapse:collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width:800px;
  table-layout: fixed;
}

.content-table thead tr{
  text-align:left;
  opacity:0.75;
  background-color: #009879;
  color:#fff;
  font-weight:bold;
}

.content-table th{
  padding: 10px 15px;
}

.content-table thead td{
  
}

.content-table tbody tr{
  background-color: #fff;
}

.content-table tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
}

/* .table{
  position: relative;
  align-content: center;
  top: 240px;
  left: 278px;
  width: 1055px;
  margin: 10px 70px 70px;
  box-shadow: 0px 15px 25px rgba( 0, 0, 0, 0.2 );
  overflow-y: scroll;
  overflow-x: unset;
   
}

.table .table-con tr{
  position: fixed;
  padding-left: 2em;
} */

/* .table td{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} */

/* .table table{
  border-radius: 5px;
  text-align: center;
  border: none;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  
  color: #000000;
  
  opacity: 0.75;

  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  
  background-color: white;
} */

