@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url('action.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header{
  position:fixed;
  display:inline-flex;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header .logo-content{
  display:inline-flex;
}

.header .logo-content img{
  width: 3rem;
  height: 3rem;
  color: black;
  margin: 0.7em 1em;
  border-radius: 0.5em;
}

.header .logo-content .logo{
  padding: 0.6em 0em;
}

.logo-content .logo .logo_name{
  font-family: cursive;
  font-weight:520;
  font-size: 38px;
  line-height: 50px;
  color: #000000;
}

.header .dropdown{
  position: fixed;
  padding-left: 80%;
}

.header .dropdown .link{
  display: inline-flex;
  float: right;
  padding: 1em;
}

.header .dropdown .link li{
  list-style: none;
  padding: 0.5em 0 0 2em;
}

.header .dropdown .link li a{
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  text-decoration: none;  
}

.sidebar{
  position: fixed;
  top: 4.6em;
  width: 240px;
  height: 100%;
  background: #ffffff;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease;
}

.sidebar.active{
  width: 68px;
  transition: all 1s ease;
}

.sidebar #btn{
  position: absolute;
  color: #000;
  left: 90%;
  top: 6px;
  font-size: 24px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform:  translateX(-50%);
}

.sidebar #btn:hover{
  cursor: pointer;
}

.sidebar.active #btn{
  left:55%;
}

.sidebar .nav-links{
  height: 100%;
  padding-top: 4.5em;
}

.sidebar .links_name{
  opacity: 1;
  pointer-events: auto;
  transition: all 1s ease;
}

.sidebar .links_name.current{
  font-weight: bold;
}

.sidebar.active .links_name{
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar .nav-links li{
  position: relative;
  transition: all 0.4s ease;
}


.sidebar .nav-links li:hover{
  background: rgb(234, 234, 225);
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
}

.sidebar .nav-links li .icon-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #000;
  font-size: 20px;
}


.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.sidebar .nav-links li .sub-target{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  list-style: none;
  /*  display: none; */
}

.sidebar .nav-links li .sub-target a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.75;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-target a:hover{
  opacity: 1;
  color: #000;
  padding: 0.5em;
}

.sidebar.close .nav-links li .sub-target{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  transition: all 0.4s ease;
  opacity:0;
  pointer-events: none;
}

.sidebar.close .nav-links li:hover .sub-target{
  top: 0;
  opacity:1;
  pointer-events: auto;
}

.sidebar .nav-links li .sub-target .link_name{
  display: none;
}

.sidebar.close .nav-links li .sub-target .links_name{
  font-size: 15px;
  opacity: 1;
  display: block;
}


.wel {
    position: absolute;
    top: 120px;
    left: 300px;

    font-weight: lighter;
    font-size: 30px;
    line-height: 77px;
  
    color: #000000;
    text-shadow: 3px 0px 3px rgba(0, 0, 0, 0.25);
    opacity: 0.75;
  }
  
  
.wel .line-1{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}
  
.descrip{
    position: absolute;
    left: 302px;
    top: 7em;
    font-size: 20px;
    color: #08550B;
}

.report-box{
    position: fixed ;
    left: 302px;
    top: 11em;
    width: calc(70%);
    height: 35em;
    /* background-color: red; */
    border-radius: 0.5em;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); */
    /* background: #e6dfdf; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.report-box .report-content{
    height: 95%;
    background: whitesmoke;
    overflow-y: scroll;
    overflow-x: unset;
    width: 90%;
    max-width: 800px;
    margin: 0.5em auto;
    /* padding: 3em; */
    font: 100%/1.4 serif;
    border: 1px solid rgba(0,0,0,0.25);
    overflow-x: unset;
    border: none;
}
 
.report-box .report-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.report-box .report-content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.report-content .logo{
    float: left;
    font-size: 20px;
    margin: 0.7em;
}

.report-box .report-content .report-title{
  display: block;
  text-align: center;
  margin-top: 4em;
  color: #2c90e2;
  font-size: 20px;
  font-weight: 550;
}

.report-box .report-content h5{
  margin-left: 3em;
  padding: 0.5em;
  word-break: break-all;
  margin-right: 4em;
}

.vuln{
  margin-left: 2.9em;
  margin-top: 0.5em;
}

.vuln h4{
  padding: 0.2em;
}

.vuln .vuln_details h5{
  position: relative;
  margin-left: 0.2em;
  padding: 0.5em;
}

.vuln .vuln_details p{
  /* width: %; */
  padding: 0.8em;
  margin-left: 1.5em;
  margin-right: 3em;
  font-size: 12px;
  word-break: break-all;
}

.vuln .vuln_details i{
  font-size: 16px;
  margin-right: 0.5em;
}

.report-box .report-content .vuln .vuln_details button{
  padding: 0.5em;
  /* margin: 3em; */
  border: none;
  color: #000;
  font-size: 15px;
  background:#92caa2;
  transition: all 0.5s ease;
  border-radius: 4em;
}

.report-box .report-content .vuln .vuln_details button:hover{
  cursor: pointer;
  padding: 0.3em;
  font-size: 17px;
  transition: all 0.3s ease;
  border-radius: 0;
}