<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/abtstyle.css')}}">
    <title>Weber - About</title>
</head>
<body>
    <div class="container">
        <a href="dashboard" style="--color: rgb(0, 237, 100)"><span>Back</span><i></i></a>
    </div>
    
    <!-- <img src="{{url_for('static', filename='W-icon.png')}}" alt="weber"> -->

    <div class="about-box">
        <h1>About Weber</h1>
        <p>Weber is a web application scanner tool designed to help businesses and individuals secure their online assets. With its advanced scanning technology, Weber can detect potential security vulnerabilities in web applications and websites, allowing users to take proactive measures to protect their data and user information.
            <br><br>
            Weber is easy to use, even for those with limited technical knowledge. Simply enter the URL of the web application or website you want to scan, and Weber will do the rest. The tool will scan all parts of the website, including the back-end code, front-end components, and any connected databases, to identify any potential security risks.
            <br><br>
            The results of the scan are presented in an easy-to-read report, complete with detailed explanations of each vulnerability and recommendations for remediation. This report can be shared with developers and IT teams, helping them to quickly address and fix any security issues.
            <br><br>
            With its fast and efficient scanning technology, Weber provides a comprehensive and cost-effective solution for web application security. Whether you're a business owner, developer, or IT professional, Weber has the tools you need to protect your online assets and keep your data secure.
        </p>
    </div>
    
</body>
</html>