<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to weber</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/reportStyle.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel = "icon" href ="{{url_for('static', filename='w3.png')}}" type = "image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>n
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
  </head>
  <body>

    <div class="header">
      <div class="logo-content">
        <i><img src="{{url_for('static', filename='w3.png')}}" alt="weber"></i>
        <div class="logo">
          <div class="logo_name">weber</div>
        </div>
      </div>

      <div class="dropdown">
        <nav class="link">
          <li>
            <i class='bx bxs-user' ></i>
            <span>{{user}}</span>
          </li>
          
          <li>
            <a href="{{url_for('logout')}}">
              <i class='bx bx-log-out'></i>
              <span>Log out</span>
            </a>
          </li>
        </nav>
      </div>

    </div>


    <div class="sidebar close">
      <i class='bx bx-menu' id="btn"></i>
      <ul class="nav-links">
        <!-- dashboard -->
        <li>
          <a href="/Weber/login/dashboard">
            <i class='bx bxs-dashboard' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>

        <!-- target -->
        <li>
            <div class="icon-link">
              <a href="#">
                <i class='bx bx-target-lock'></i>
                <span class="links_name">Target <i class='bx bx-chevron-right'></i></span>
              </a>
              <!-- <i class='bx bx-chevron-down arrow'></i> -->
            </div>
            <ul class="sub-target">
              <li><a class="links_name" href="{{url_for('targetlist')}}">Target List</a></li>
              <li><a class="links_name" href="{{url_for('Target')}}">Add Target</a></li>
              <li><a class="links_name" href="{{url_for('singlescan')}}">Single scan</a></li>
            </ul>
        </li>

        <!--scans -->
        <li>
          <a href="reportList">
            <i class='bx bx-scan'></i>
            <span class="links_name">Report</span>
          </a>
        </li>

        <!-- account -->
        <li>
          <a href="#">
            <i class='bx bx-user'></i>
            <span class="links_name">Account</span>
          </a>
        </li>

        <!-- Resources -->
        <li>
          <a href="{{url_for('resources')}}">
            <i class='bx bxs-cog'></i>
            <span class="links_name">Resources</span>
          </a>
        </li>

        <!-- About -->
        <li>
          <a href="{{url_for('about')}}">
            <i class='bx bx-info-square'></i>
            <span class="links_name">About</span>
          </a>
        </li>

        <!-- Help -->
        <li>
          <a href="#">
            <i class='bx bxs-help-circle'></i>
            <span class="links_name">Help</span>
          </a>
        </li>

      </ul>

    </div>

    <script type="text/javascript">
      let btn = document.querySelector("#btn");
      let sidebar = document.querySelector(".sidebar");

      btn.onclick = function(){
        sidebar.classList.toggle("active");
      }
    </script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class=flashes>
      {% for category,message in messages %}
        <script>
          swal("{{category}}", "{{message}}", "success");
        </script>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <div class="wel">
    <!-- <h1>Welcome to</h1> -->
    <p class="line-1">Report</p>
  </div>

  <div class="descrip">
    <p>Vulnerability scan report for : <span style="color:black; text-decoration:underline">{{DomainName}}</span></p>
    
  </div>

  <div class="report-box">
    <div class="report-content" id="report">
        <p class="logo">weber</p>
        <p class="report-title">Vulnerability Report</p><br>

        <h5>Target address : <p style="font-weight: lighter; display:inline-flex">{{DomainName}}</p></h5>

        <h5>Description : <p style="font-weight: lighter; display:inline; justify-content:center">{{DomainDesc}}</p></h5>

        <h5>Date and Time of the scan : <p style="font-weight: lighter; display:inline; justify-content:center">{{DomainTime}}</p></h5>
    
        
        
        <div class="vuln">
          <h4>Vulnerable URL's:</h4>
          <div class="vuln_details">

            <!-- SSL ertificate -->
            <h5><i class='bx bxs-label'></i>SSL certificate (http/https) : </h5>
            {%if data['SSL']['Validitity']%}
            <p style="color:red"><i class='bx bxs-chevron-right' style="color:black"></i> SSL certificate found</p>
            {%else%}
              <p style="color:red"><i class='bx bxs-chevron-right' style="color:black"></i> SSL certificate not found</p>
            {%endif%}

            {%for key,value in data['SSL'].items()%}
            {%if value%}
            <p><i class='bx bxs-chevron-right'></i> {{key}} : {{value}}</p>
            {%else%}
            <p style="color:red"><i class='bx bxs-chevron-right' style="color:black"></i>{{key}} : Not Found </p>
            {%endif%}
            {%endfor%}


            
            <!-- Security header -->
            <h5><i class='bx bxs-label'></i>Security header : </h5>
            {%if data['SecurityHeader'] %}
              {%for key,value in data['SecurityHeader'].items()%}
                {%if value%}
                  <p><i class='bx bxs-chevron-right'></i> {{key}} : Found</p>
                {%else%}
                <p style="color:red"><i class='bx bxs-chevron-right' style="color:black"></i>{{key}} : Not Found </p>
                {%endif%}
              {%endfor%}
            {%else%}
              <p><i class='bx bxs-chevron-right'></i> Failed to get security headers</p>
            {%endif%}

            <!-- Outdated components -->
            <!-- <h5><i class='bx bxs-label'></i>Outdated components : </h5>
            <p><i class='bx bxs-chevron-right'></i> https://noddus.com/track?a=6561&event=editorial_matchbuy_textlink_trece&fm=6487&redirect_url=</p> -->


            <!-- Clickjacking -->
            <h5><i class='bx bxs-label'></i>Clickjacking : </h5>
            {%if data['clickjacking']%}
              <p style="color:red"><i class='bx bxs-chevron-right' style="color:black"></i> Vulnerable to clickjaking ({{DomainName}})</p>
            {%else%}
              <p><i class='bx bxs-chevron-right'></i> {{DomainName}} is not vulnerable to clickjacking</p>
            {%endif%}

            <!-- Mail misconfig -->
            <h5><i class='bx bxs-label'></i>Mail misconfiguaration :</h5>
            

            {%if data['MailMisconfiguration'] %}

              {%if data['MailMisconfiguration']["SPF_Records"] and data['MailMisconfiguration']["DMARC_Records"]%}
              <p><i class='bx bxs-chevron-right'></i> Domain is not vulnerable to Email spoofing</p>
              {%else%}
              <p style="color:red"><i class='bx bxs-chevron-right' style="color:black"></i> Vulnerable to Email Spoofing via Mail server Mis-configuaration</p>
              {%endif%}  


              {%for key,value in data['MailMisconfiguration'].items()%}
                {%if value%}
                  <p><i class='bx bxs-chevron-right'></i> {{key}} : Found</p>
                {%else%}
                <p style="color:red"><i class='bx bxs-chevron-right' style="color:black"></i>{{key}} : Not Found </p>
                {%endif%}
              {%endfor%}
            {%else%}
              <p><i class='bx bxs-chevron-right'></i> No record Found</p>
            {%endif%}


            <!-- Sensitive file disclosure
            <h5><i class='bx bxs-label'></i>Sensitive file disclosure :</h5>
            <p><i class='bx bxs-chevron-right'></i> https://noddus.com/track?a=6561&event=editorial_matchbuy_textlink_trece&fm=6487&redirect_url=</p> -->

            <!-- <h5>Description : </h5>
            <p><i class='bx bxs-chevron-right'></i> https://noddus.com/track?a=6561&event=editorial_matchbuy_textlink_trece&fm=6487&redirect_url=</p> -->

            <!-- OPen redirection -->
            <h5><i class='bx bxs-label'></i>Open redirection :</h5>
            {%if data['open redirect']%}
              {%for url in data['open redirect']%}

              {%if url == "None"%}
              <p><i class='bx bxs-chevron-right'></i> No open redirect vulenrable url found</p>
              {%else%}
              <p ><i class='bx bxs-chevron-right' style="color:black"></i> {{url}}</p>
              {%endif%}
              {%endfor%}
            {%else%}
              <p><i class='bx bxs-chevron-right'></i> No open redirect vulenrable url found</p>
            {%endif%}

            <!-- XSS -->
            <h5><i class='bx bxs-label'></i>Cross site scripting :</h5>
            {%if data['XSS']%}
              {%for url in data['XSS']%}
              {%if url == "None"%}
              <p><i class='bx bxs-chevron-right'></i> No open redirect vulenrable url found</p>
              {%else%}
              <p ><i class='bx bxs-chevron-right' style="color:black"></i> {{url}}</p>
              {%endif%}
              {%endfor%}

            {%else%}
              <p><i class='bx bxs-chevron-right'></i> No XSS vulenrable url found</p>
            {%endif%}
            
            <!-- SQL -->
            <h5><i class='bx bxs-label'></i>SQL Injection :</h5>
            {%if data['sql']%}
            {%for url in data['sql']%}

            {%if url == "None"%}
            <p><i class='bx bxs-chevron-right'></i> No open redirect vulenrable url found</p>
            {%else%}
            <p ><i class='bx bxs-chevron-right' style="color:black"></i> {{url}}</p>
            {%endif%}
            {%endfor%}
            {%else%}
              <p><i class='bx bxs-chevron-right'></i> No SQL injection vulenrable url found</p>
            {%endif%}

            <!-- Print -->
            <button><i class='bx bxs-printer'></i>Print</button>
            <p></p>
            
          </div>
        </div>
    </div>
  </div>

  


  </body>
</html>
