<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Weber</title>
    <link rel = "icon" href ="../static/W3.png" type = "image/x-icon">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/welcomeStyle.css" />
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
</head>

<body>
    <nav class="container">
        <div class="inner_circle second">
            <div class="inner_circle middle">
                <a href="/Weber/Login">Weber</a>
            </div>
        </div>
    </nav>

</body>

</html>